



#main {
    width: 100%;
}
.navbar {
  position: fixed;
  top: 0; 
  width: 100%; 

  font-family: "Merriweather", serif;
  font-weight: 700;
  z-index: 500;
}



.dropdown-item {
  font-weight: 500px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  font-weight: 500;
  

}

.tooth__img {

  
  width:100vw ;
  background-image: url("tooth.jpg");

  min-height: 780px;
 

  background-position: center;

  background-size: cover;

  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(tooth.jpg);

}

.logo {
  height: 200px;
  width: 500px;
  margin-top: 15%;
}

.logo__text {
  color: #007357;
}


.float__btn {
    
  position: fixed;
  top: 80px;
  right: 20px;
  border-radius: 10px;
  border-color: #0865a3;
  background-color: #0865a3;
  padding: 10px;
  z-index: 1000;
  color: aliceblue;
}

.apoinment__button {
  font-weight: 600;
  border-radius: 10px;
              padding: 12px;
              border-color: rgb(255, 255, 255);
              border-width: 5px;
              font-family: 'Merriweather', serif;
              background-color: rgb(61, 81, 255);
              color: white;
              margin-top: 50px;
}


    
  
.newpatient__div {
  margin: 30px auto;
}
    

.newpatien__hd { 
  text-align: center; font-family: 'Merriweather', serif;
  margin-top: 30px;
}

.newpatient__sub {
  text-align: center;
            font-weight: 400;
            color: rgb(148, 148, 148);
            margin-top: 20px;
}


  
.grid__intro__btncontainer {
  align-items: center;
}


.intro__btn {
  
  font-size: larger;
  font-weight: 500;
  width: 200px;
  margin: 20px 20px;
  

}







.dr {
  margin-top: 30px;
}



.dr__name {
  text-align: center; 
  margin-top: 40px;
}

.dr__name__li {
  text-align: center; 
  margin-top: 100px;
}




.dr__img {
  max-width: 350px;
  height: 350px;
  margin-top: 100px; 
}

.dr__btn__div {
  margin-top: 40px;

  
  
}
.dr__btn {
  font-weight: 500;
              
              padding: 10px;
              width: 300px;
              font-size: larger;
              

}

.dr__para {
  
            
           
            margin-top: 30px; 
}

.dr__para__li {
  
            
           
  margin-top: 60px; 
}


.services {
  text-align: center;
  margin-top: 60px;
}

.services__btn__container {
  margin-top: 60px;
}

.services__btn__l {
  font-size:large;
  font-weight: 600;
  width: 500px;
}
   






.backgound__color{
  background-color: rgb(225, 255, 225);
}

.after__btn__text {
  text-align: center; font-family: 'Arvo', serif
}

.dr__names {
  color: rgb(20, 121, 0); text-align: center
}

.dr__name__sub {
  text-align: center
}



.zoom {
  transition: transform 0.2s ease; 
  max-width: 300px;
  
  
}

.zoom:hover {
  transform: scale(
    1.2
  ); 
}

.parallax {
  background-image: url("hsp.jpg");

  min-height: 500px;
 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 100;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hsp.jpg);
}



.parallax__inner {
  padding: 30px;
  padding-top: 50px;
  
  border: solid 1px;
  height: 260px;
  width: 420px;
  margin: auto;
  border-radius: 20px ;
  padding: auto;
  color: seashell;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: large;
  font-weight: 400;

}

.parallax__hd {
  color: seashell; text: shadow 5px;
  font-family: "Playfair Display", serif;
  font-family: "Recursive", sans-serif;

}

.insurance {

  font-size: 30px;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-weight: 500;
        background-color: #f9fbfa;
        padding-top: 30px;
}

.insurance__subtxt {
  font-size: large;
          color: rgb(117, 117, 117);
          font-family: 'Merriweather', serif;
          font-weight: 300;
          padding-top: 30px;
          text-align: center;
}


.insurance__img {
  width:100%;
  max-width: 1000px;
  margin: 0 auto;

}
.insurance__btn__div {
  display: flex;
  justify-content: center;

  
  background-color: #f9fbfa;
  padding-top: 50px;
 
}

.insurance__divcolor {
  padding-top: 100px;
  background-color: #f9fbfa;
  
}

.insurance__learnmore__btn {
  font-weight: 500;
  

  padding: 10px;
  width: 300px;
  font-size: larger;
}


.footer {
  color:  rgb(138, 137, 137);;
}

.foot__end {
  margin-top: 30px;
  background-color: #007357;
  color: rgb(247, 247, 247);
  text-align: center;
  padding: 15px;
}

































